<footer class="site-footer hidden md:block bg-green ">
  
    <h2 class="text-big leading-none mb-2">{{data.contactHeadline}}</h2>
    <ul id="contact" class="mb-4">
      <li><a class="outer-link" href="{{ metadata.author.mailtolink }}" target="_blank" rel="noreferrer" class="">Email</a></li>
      <li><a class="outer-link" href="{{ metadata.connect.linkedin }}" target="_blank" class="">LinkedIn</a></li>
      <li><a class="outer-link" href="{{ metadata.connect.instagram }}" target="_blank" class="">Instagram</a></li>
      <li><a class="inner-link" href="/imprint" class="">Imprint</a></li>
    </ul>
    <p class="text-small">© {% year %} Malte Euler. All rights reserved.</p>
</footer>