---
layout: 'base.njk'
title: process and tools
---

<div class="px-5 mt-8 mb-12">
  <h1 class="text-center text-5xl">
      {{ title }}
  </h1>
  <p>{{ description }}</p>
  {% block process %}
    {% include '../_components/_process.njk' %}
  {% endblock process %}
  <div class="cms-content">
    {{ content | safe}}
  </div>
</div>