---
layout: 'base.njk'
---

<div class="px-5 mt-8 mb-12">
  <h1 class="text-5xl text-center font-bold">
      {{ title }}
  </h1>
  <div class="description mt-8 cms-content">
    {{ description | safe }}
  </div>
  <div class="mx-auto content my-8 max-w-screen-lg cms-content">
    {{ content | safe }}
  </div>
</div>
