---
layout: 'base.njk'
---

{% if headerImg %}
<div class="mb-16">
{% simplFigure headerImg, altHeaderImg, tagHeaderImg, '' %}
</div>
{% endif %}
<div class="grid grid-cols-6 gap-4 mb-8">
  <div class="col-[3_/_span_4] lg:col-[3_/_span_3]">
    <h1 class="mb-4 text-navi">
      {{ title }}
    </h1>
    <p>{{ description | safe }}</p>
    {% if projectUrl %}
    <div class="flex mt-2">
      visit <a class="pl-1 underline outer-link" href="{{ projectUrl }}" target="_blank" rel="noreferrer" >Project Website</a>
    </div>
    {% endif %}
  </div>
</div>

  <div class="grid grid-cols-6 gap-4 md-content">
    {{ content | safe }}
  </div>
