---
layout: 'base.njk'
---
<article class="main-article min-h-full ">
{% if headerImg %}  
{% simplFigure headerImg, altHeaderImg, tagHeaderImg, 'w-screen' %}
{% endif %}

<div class="px-5 mt-8 md:mt-24 max-w-screen-xl mx-auto">
  <h1 class="article-title text-3xl text-center">
    {{ title }}
  </h1>
  <div class="description mt-8 max-w-[65ch] ">
    {{ description | safe }}
  </div>
  <div class="flex">
    <span class="w-10">tasks</span>
    <span class="pl-2 text-gray-500 uppercase tracking-wide font-normal dark:text-gray-300">{{ tasks | join(', ') }}</span>
  </div>
  <div class="flex">
    <span class="w-10">client</span>
    <span class="pl-2 text-gray-500 font-normal dark:text-gray-300">{{ clientName }}</span>
  </div>
  {% if projectUrl %}
  <div class="flex">
    <span class="w-10">visit</span>
    <a class="pl-2 text-purple-700 hover:underline dark:text-purple-500" href="{{ projectUrl }}" target="_blank" rel="noreferrer" >Project Website</a>
  </div>
  {% endif %}

  <div class="mx-auto content my-8 cms-content">
    {{ content | safe }}
  </div>
  <div class="mx-auto w-full flex justify-center my-12">
    <a class="btn" href="/work">more projects</a>
  </div>
</div>
</article>