---
layout: 'base.njk'
---

<div class="">
  <h1 class="text-navi md:hidden">
      {{ title }}
  </h1>
  <div class="description">
    {{ description | safe }}
  </div>
  <div class="grid grid-cols-6 gap-4 md-single">
    {{ content | safe }}
  </div>
</div>
