---
layout: 'base.njk'
title: work
---

<div class="px-5 2xl:px-0 mt-8 mb-12">
  {% block workGrid %}
    {% include '../_includes/_projects.njk' %}
  {% endblock workGrid %}

  <p>{{ content | safe}}</p>
</div>