---
layout: 'base.njk'
title: work
---

<div class="px-5 mt-8 mb-12">
  <h1 class="text-center text-3xl">
      {{ title }}
  </h1>
  <p>{{ description }}</p>
  {% block workGrid %}
    {% include '../_components/_workGrid.njk' %}
  {% endblock workGrid %}

  <p>{{ content | safe}}</p>
</div>