@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Archivo';
        src: url(./assets/fonts/Archivo-Regular.ttf);
        font-weight:400;
    }
    @font-face {
        font-family: 'Archivo';
        src: url(./assets/fonts/Archivo-Italic.ttf);
        font-style: italic;
        font-weight:400;
    }
    .text-big {
        @apply text-2xl lg:text-3xl;
    }
    .text-navi {
        @apply text-lg lg:text-xl;
    }
    .text-normal {
        @apply text-base;
    }
    .text-small {
        @apply text-sm;
    }
}

@layer components {
    .fancy-cta {
        @apply text-black bg-gradient-to-r from-slate-200 via-slate-400 to-slate-300 hover:bg-gradient-to-br focus:ring-4 focus:outline-none rounded-full text-navi px-8 py-2 text-center border border-slate-300;
         text-shadow: 0px 1px rgb(226 232 240);
    }
    button > .burger-icon {
    }
    .about {
        p { @apply mb-4;}
    }
    .md-single {
        p, ul, ol {
            @apply mb-4;
        }
        h1, h2, h3 {
            @apply mb-2 text-navi;
        }
        a {
            @apply underline;
        }
    }
    .md-content {
        & > figure, & > p {
            @apply mb-24;
        }
        & > figure {
            @apply col-span-6 sm:col-span-4;
            &:nth-of-type(odd) {
                @apply sm:col-start-3;
            }
        }
        & > p, h2 {
            @apply col-[1_/_span_6] sm:col-[3_/_span_3];
        }
        h2 {
            @apply text-xl mb-2;
        }
    }
    .black-logos figure {
        @apply p-12;

    }
    .landing-gallery, .tag-gallery {
        a { @apply col-span-3 sm:col-span-2 ;}
        a:nth-of-type(odd) { @apply 2xl:col-span-1 ; }
        a:nth-of-type(1) { @apply col-span-6 sm:col-span-3 2xl:col-span-3; }
        a:nth-of-type(2) { @apply col-span-3 sm:col-[5_/_span_2] ; }
        a:nth-of-type(3) { @apply col-span-3 sm:col-span-2 2xl:col-span-1 ; }
        a:nth-of-type(4) { @apply col-span-6 sm:col-[4_/_span_3] 2xl:col-span-2 ; }
        a:nth-of-type(5) { @apply col-span-3 sm:col-span-3 2xl:col-span-2 ; }
        a:nth-of-type(6) { @apply col-span-3 sm:col-[5_/_span_2] ; }
        a:nth-of-type(7) { @apply col-span-6 sm:col-span-2 2xl:col-span-1 ; }
    }
}

@layer utilities {
    .rotate-image img {
        transition: transform 1s ease;
        &:hover {
            transform: rotate(180deg);
        }
    }
    .breakpoints {
        @apply after:content-['base'] sm:after:content-['sm'] md:after:content-['md'] lg:after:content-['lg'] xl:after:content-['xl'] 2xl:after:content-['2xl'];
    }
    #content {
            transform: translateX(0);
            transition: transform .4s ease;
    }
    .nav-open {
        nav, footer {
            @apply block;
        }
        #content {
            @apply translate-x-[250px];
        }
    }
    nav a, footer a {
        @apply text-navi;
    }
    .inner-link {
        @apply py-[.125rem] ;
        &:hover, &.link-active, &.show:hover {
            @apply px-2  text-white bg-black;
        }
        &.show {
            @apply px-2 text-black bg-slate-300;
        }
    }
    .outer-link {
        &:hover::after {
            content: "->";
            @apply ml-4;
          
        }
    }
}