<section id="work" class="pb-24 md:pb-36">
  <div class="px-5 max-w-screen-2xl lg:mx-auto">
    <div class="py-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 md:grid-flow-row-dense sm:gap-8">

      <div class="md:col-span-3">
        <h3 class="text-3xl dark:tracking-wider block font-bold md:w-2/3">
        {{ data.featuredWorkDescription }}
        </h3>
      </div>

      {% for item in collections.work | reverse %}
        {% if item.data.featured %}
          <a
          href="{{item.url}}"
          title="view {{item.data.title}}"
          class="flex flex-col justify-between post relative md:transform md:hover:-translate-y-2 md:transition-transform">
            <article>
              <picture  class="block w-full">
                <img class="rounded-sm" src="./assets/media/{{item.data.featuredImg}}"  alt="Example Image for {{item.data.title}}" >
                <!-- <div style="background-color: #{{ item.data.bgColor if item.data.bgColor else '222222' }}" class="h-24 md:h-48"></div> -->
              </picture>
            <header class="py-2 md:py-4">
              <p class="text-gray-500 uppercase text-sm tracking-wide font-normal dark:text-gray-300">{{ item.data.tasks | join(", ") }} ({{ item.data.year }})</p>
              <h4 class="font-bold block dark:tracking-wider mt-2">{{ item.data.title }}</h4>
              <p class="text-gray-900 text-base font-normal dark:text-gray-300">{{ item.data.description }}</p>
            </header>
            </article>
          </a>
        {% endif %}
      {% endfor %}

    </div>
      <div class="mx-auto w-full flex justify-center my-12">
        <a class="btn" href="/work">{{data.browseFullPortfolio}}</a>
      </div>
  </div>
</section>