<footer class="site-footer">
  <div class="px-5 max-w-screen-2xl lg:mx-auto">
    <h2 class="text-center mb-4">{{data.contactHeadline}}</h2>
    <p class="mb-8 text-center">{{ data.contactCopy | safe}}</p>
    <div id="social" class="flex flex-row items-center justify-center gap-4 mb-12">
      <a href="{{ metadata.author.mailtolink }}" title="get in touch" target="_blank" rel="noreferrer"
      class="text-purple-600 hover:text-purple-700 dark:text-purple-500 w-14">
        {% inlineSvg 'mail.svg' %}
      </a>
      <a href="{{ metadata.connect.linkedin }}" target="_blank" class="text-purple-600 hover:text-purple-700 dark:text-purple-500 w-11">
        {% inlineSvg 'linkedin.svg' %}
      </a>
      <a href="{{ metadata.connect.instagram }}" target="_blank" class="text-purple-600 hover:text-purple-700 dark:text-purple-500 w-9">
        {% inlineSvg 'instagram.svg' %}
      </a>
    </div>
    </div>
    <p>© 2021 Malte Euler. All rights reserved.</p>
</footer>