<footer class="site-footer">
  <div class="px-5 max-w-screen-2xl lg:mx-auto">
    <div class="my-4">
        <a href="{{ metadata.author.mailtolink }}" title="get in touch" target="_blank" rel="noreferrer"
      class="hover:bg-purple-700 hover:text-white px-4 py-2 rounded-full border-2 hover:border-purple-700"><span>Get in touch</span>
    </a>
  </div>
    <p>© 2021 Malte Euler. All rights reserved.</p>

            
  </div>
</footer>