<header class="lg:mx-auto fixed z-20 w-full border-b border-gray-500 transition-all duration-200 bg-gray-100 text-purple-700"
            :class="{'h-36': !scrolledFromTop, 'h-14 border-b border-gray-200 shadow-sm': scrolledFromTop}"
            >
            <div class="mx-auto px-5 2xl:px-0 max-w-screen-2xl flex justify-between items-center" :class="{'h-36': !scrolledFromTop, 'h-14': scrolledFromTop}">

              <a href="/" class="text-purple-700  dark:text-purple-500 hover:underline md:flex-1 uppercase
              {% if entry.url == page.url %} underline {% else %} {% endif %}">
              {{ metadata.name }}</br>{{ metadata.description }}
            </a>
            <div class="text-purple-600 dark:text-purple-500 w-24 order-first md:order-none text-center "
            :class="{'scale-100': !scrolledFromTop, 'scale-50': scrolledFromTop}"
            >
            {% inlineSvg 'hearteye.svg' %}
          </div>
          <nav class="md:flex-1">
            <button class="md:hidden" @click="navOpen = !navOpen">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 " fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="butt" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
          {% set navPages = collections.all | eleventyNavigation %}
          <ul class="z-10 fixed left-0 min-h-screen right-0 pl-16 pr-4 pt-8 space-y-4 transform transition duration-200 text-2xl translate-x-full bg-gray-200
          md:relative md:flex md:space-x-10 md:min-h-0 md:px-0 md:py-0 md:space-y-0 md:translate-x-0 md:bg-opacity-0 md:justify-end md:mt-0 md:text-base
          "
          :class="{'translate-x-full': !navOpen, 'translate-x-0': navOpen, 'mt-1': scrolledFromTop,'mt-6': !scrolledFromTop}"
          >
          {%- for entry in navPages %}
          <li class="">
            <a @click="navOpen = false" 
            href="{{ entry.url | url }}"
            class="transition-colors text-bold md:text-purple-700 uppercase
            {% if entry.url == page.url %} underline {% else %} {% endif %}">{{ entry.title }}</a>
          </li>
          {%- endfor %}
        </ul>
      </nav>
      
    </div>
</header>