<header class="max-w-screen-2xl lg:mx-auto">
  <div class="text-purple-700 px-5 flex w-full justify-between py-4 dark:text-purple-500">
    <a href="/" class="text-purple-700  dark:text-purple-500 hover:underline
        {% if entry.url == page.url %} underline {% else %} {% endif %}">
        {{ metadata.name }} - {{ metadata.description }}
    </a>
    <nav class="flex-shrink-0">
      {% set navPages = collections.all | eleventyNavigation %}
      <ul class="text-right flex flex-col lg:flex-row">
        {%- for entry in navPages %}
        <li class="inline-block mr-5">
          <a href="{{ entry.url | url }}"
            class="transition-colors  hover:underline text-purple-700 dark:text-purple-500
                  {% if entry.url == page.url %} underline {% else %} {% endif %}">{{ entry.title }}</a>
        </li>
        {%- endfor %}

        <li class="switch">
              <!-- Toggle switch begins -->
               <button x-on:click="darkMode = ! darkMode" class="cursor-pointer flex flex-row gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" class="h-8 w-8 text-purple-600 dark:opacity-20">
                    <polygon fill="currentColor" points="100.94 17.56 116.61 40.32 141.54 28.44 143.73 55.98 171.26 58.16 159.39 83.1 182.14 98.76 159.39 114.42 171.26 139.36 143.73 141.55 141.54 169.08 116.61 157.21 100.94 179.96 85.28 157.21 60.34 169.08 58.16 141.55 30.62 139.36 42.5 114.42 19.75 98.76 42.5 83.1 30.62 58.16 58.16 55.98 60.34 28.44 85.28 40.32 100.94 17.56" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" class="h-8 w-8 opacity-20 dark:text-purple-500 dark:opacity-100">
                    <path fill="currentColor" d="M93.69,106.72a74.71,74.71,0,0,1-15-81.62,74.7,74.7,0,1,0,96.21,99A74.69,74.69,0,0,1,93.69,106.72Z" />
                  </svg>
              </button>
              <!-- Toggle switch ends -->
        </li>
      </ul>
    </nav>
  </div>
</header>