<!-- hero -->
<section id="hero" class="">
  <div class="px-5 items-center max-w-screen-2xl lg:mx-auto min-h-[30vh]">
      {# this is for homepage #}
    <h1 class="text-3xl font-normal leading-[1.2em]">{{ catchphrase | safe }} </h1>
  </div>
</section>
<!-- hero end -->
