<!-- hero -->
<section id="hero" class="pt-8">
  <div class=" grid grid-cols-3 px-5 items-center max-w-screen-2xl lg:mx-auto min-h-[40vh]">
      {# this is for homepage #}
      <div class="col-span-3  ">
        <div class="">
          <h2 class="text-4xl md:text-6xl leading-[1.1em] font-bold">{{ catchphrase | safe }} </h2>
          <p class="mt-4 text-gray-800 dark:text-gray-300"> {{ description | safe }}</p>
        </div>
      </div>
  </div>
</section>
<!-- hero end -->
