<section id="work" class="py-24 md:py-36">
  <div class=" lg:mx-auto">
    <div class="py-10 grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 md:grid-flow-row-dense md:gap-4">

      {% for item in collections.work | reverse %}
          <a
          href="{{item.url}}"
          title="view {{item.data.title}}"
          class="work-thumbnail flex flex-col post relative md:hover:-translate-y-2 md:transition-transform">
              <div  class="block w-full">
                {% if item.data.featuredImg %}
                <img class="rounded-sm" style="background-color: #{{ item.data.bgColor }};" src="../assets/media/{{item.data.featuredImg}}"  alt="Example Image for {{item.data.title}}" >
                {% else %}
                <div class="relative pt-[18%] pb-[58%] bg-purple-700 grid place-items-center">
                  <h1 class="p-4 opacity-90 absolute text-5xl text-white text-center">{{ item.data.title }}</h1>
                </div>
                {% endif %}
              </div>
            <header class="py-2">
              <p class="uppercase tracking-wide font-normal dark:text-gray-300">
                {{ item.data.clientName }}
              </p>
            </header>
          </a>
      {% endfor %}

    </div>
  </div>
</section>